.img-vertically-responsive
{
	height: 90%;
	width: auto;
	max-width:90%;
}

.relative-positioned
{
	position: relative;
}

.hv-center
{
	position: absolute;
	top:50%;
	left:50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.skin-black-light .main-header > .logo.master-logo
{
	background: #000;
}
.logo-container
{
	width:90%;
	height: 90%;
	background-size:contain;
	background-image:url(logo-usb.gif);
	background-position: center center;
	background-repeat: no-repeat;
}
.display-logo
{
	background-size:contain;
	background-image:url(logo-usb.gif);
	background-position: center center;
	background-repeat: no-repeat;}
.gray-border,
.form-control.gray-border
{
	border-color:#bdc3c7 !important;
}

.btn-login
{
	background: #e74c3c;
	color:#fff !important;
	outline: 0 !important;
	border:1px solid #e74c3c;
}
.btn-usbid
{
	background:#00acd6;
	color:#fff !important;
}
.btn-usbid:hover,
.btn-usbid:active
.btn-usbid:visited,
.btn-usbid:link
{
	background:#00acd6;
	color:#fff;
}

.btn-usbid i
{
	border-color:#fff !important;
}

.login-logo a
{
	width:100%;
	display: block;
}
.login-logo a:after
{
	content: ' ';
	display: block;
	padding-top:30%;
}

.form-horizontal .control-label
{
	text-align: left;
}

p
{
	margin:10px 0;
}

p.center
{
	text-align:center;
}
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.spacer-left
{
	margin-left:10px;
}

.spacer-top
{
	margin-top:40px;
}